@tailwind base;
@tailwind components;
@tailwind utilities;


.curve {

    .wrapper,
    .background {
        position: fixed;
        height: calc(500vh + 600px);
        width: 100vw;
        pointer-events: none;
        z-index: 15;
        left: 0;
        top: 0;
    }

    .background {
        background-color: black;
        transition: opacity 0s linear 0.1s;
    }

    .route {
        position: absolute;
        left: 50%;
        top: 40%;
        color: white;
        font-size: 46px;
        z-index: 20 !important;
        transform: translateX(-50%);
        text-align: center;
    }
}

.invertir-color {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.shadowItem {
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
}


.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}